* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    overflow-x: hidden;
background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 600px) {
    .container {
        position:relative;
        flex-direction: column;
        height:100vh;
        width:100vw;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .describe {
        display: flex;
        flex-direction: column;
    }
}
h1 {
    font-family: 'Oswald', sans-serif;
}
button{
    display: flex;
}

nav{
  
    align-items: center;
    position: fixed;
    margin-top: 10px;

    top: 10px;
    left: 10px;
    width: 130px;
    height: 35px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 10px;

    transition: width 0.3s ease;
}

div.icon{
    width:50%;
    height:100%;
}
.icon img{
    width:100%;
    height:100%;
}
.menu a {
    color:black;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    margin-top:5vh;
}

nav a:hover {
    color: #d9b8a3;
}

section {

    padding: 1em;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container {
    display: flex;
    background-image: url('plaster.mp4');
    background-size: cover;
    background-position:left;

}

.left-column, .right-column {
    flex: 1;
}

.left-column {
    background-image: url('');
    background-size:cover;
    transform: translateX(-106px);
    height: 100vh;
    padding-right: 10px;

    
}

.right-column {
    /* Styl dla prawej kolumny */
    font-size: 64px; /* Przykładowa wielkość tekstu */

 
}
.right-column p{
    text-transform:uppercase;
    color:white;
}
.right-column {
    overflow: hidden;
}

.right-column p {
    transform: translateX(-100%); /* Początkowe położenie poza lewą krawędzią kontenera */
    animation: slideInFromLeft .3s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(25%);
    }
}




.describe{
    display: flex;;
    padding-top: 50vh;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:10px;
    height: auto;   
background:#FBFAF4;
}

.describe .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    height:40%;
    /* Style dla poszczególnych elementów .item */
    margin-bottom: 20px; /* Opcjonalnie, dodaje odstęp na dole każdego elementu, oprócz ostatniego */
}

/* Opcjonalnie, usuń margin-bottom dla ostatniego elementu */
.describe .item:last-child {
    margin-bottom: 0;
}

.describe img {
    width: 85%; /* lub inny wymiar */
    height: auto; /* zachowuje proporcje obrazu */
    border-radius: 12px;
 
}

.describe .text {
    width: 94%;
    padding-top:80px;
    padding-bottom: 80px;;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;

}
div.text{
    font-size: 24px;

}
.item {
    opacity: 0;
    transition: opacity 4s ease;
}
.item-animate {
    transform: translateY(-40vh);
    transition: transform .1s ;
}
.hamburger {
display:flex;
flex-direction: row;
    background: none;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width:100%;
    height:100%;
    font-size: 53px;
  }
  body nav{
    width:130px;
    height:65px;
  }
  

  @media only screen and (max-width: 600px) {
    .menu {
        
        transform: translateX(-100%); /* Menu jest przesunięte w lewo poza ekran */
        transition: transform 0.3s ease-out; /* Płynna animacja */
        width: 70vw; /* Szerokość menu */
        background-color:white;
        height: 80vh; /* Wysokość menu */
        border-radius: 10px;


    }
  
    .menu.expanded {
        display: flex;
        flex-direction: column;
        justify-content:center;
        transform: translateX(0%);
        z-index: 3;
    }
}
.describe2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:10px;
    height: auto;   
    background: #FDEACC;
align-items: center;


}
.describe2 .text {
    width: 94%;
    padding-top:80px;
    padding-bottom: 80px;;
    padding-left: 20px;
    padding-right: 20px;
justify-content: center;
}
.map-container{
    width:80vw;
}
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporcja 16:9 */
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.describe2 p {
    width: 94%;
    padding-top: 2em;
    padding-bottom: 2em;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px;
        justify-content: center;
        text-align: justify;
    
}
h2{
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
}
.container {
    
    overflow-x: hidden;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;  /* Dopasowuje szerokość do kontenera */
    height: 100%; /* Utrzymuje proporcje, dostosowując wysokość */
    max-width: 100%; /* Zapobiega wykraczaniu poza szerokość kontenera */
    object-fit: cover; /* Zapewnia, że wideo pokrywa cały obszar, zachowując proporcje */
}

/* Styl dla zawartości kontenera, aby była widoczna na wideo */
.content {
    position: relative;
    z-index: 1;
}

.describe2 footer p{


    font-size: 7px;
    
}
.describe2 img{
    width:90vw;
}
footer{
    background-color: lightgreen;
    height: 25px;
    width:100vw;
}